body {
  width: 100vw;
  height: 100vh;
}

$strorona: 200px;

$margin_box: 35px;

main {
  display: flex;
  flex-wrap: wrap;
}
div {
  width: $strorona;
  height: $strorona;
  border: 1px solid black;
  margin: $margin_box;
}
