@font-face{
  font-family: HouschkaPro-Bold;
  src: url(../fonts/HouschkaPro/HouschkaPro-Bold.woff);
}
@font-face{
font-family: HouschkaPro-Medium;
src: url(../fonts/HouschkaPro/HouschkaPro-Medium.woff);
}
html{
  min-height: 100%;
  background: linear-gradient(#b9d6ef 0px 464px,
   #ddecfa 464px 468px,
    #327dad 468px 476px,
     #266b97 476px 1000vh)
}
.main-block{
  margin: 0 auto;
  height: 980px;
  width: 800px;
}
.clouds
{
  position: relative;
  height: 113px;
}
.cloud1{
  position: absolute;
  left: 41px;
}
.cloud2{
  position: absolute;
  right: 3px;
}
.comingsoon{
  position: relative;
  height: 73px;
  margin: 0 auto;
}
.comingsoon span{
  position: absolute;
  top: -17px;
  left: 152px;
  font-size: 72px;
  font-family: HouschkaPro-Bold;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.17);
  color: #fefefe;
}
.subscribe{
  position: relative;
  height: 32px;
}
.subscribe span{
  position: absolute;
  left: 257px;
  top: -3px;
  font-size: 14px;
  font-family: HouschkaPro-Medium;
  color:#266b97;
}
.main-input{
  position: relative;
  margin: 0 auto; 
  height: 60px;
}
.main-input input{
  position: absolute;
  left: 230px;
  width: 218px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 11px 10px;
  border: 0px;
  border-radius: 2px;
  outline: none;
}
.main-input button{
  position: absolute;
  right: 230px;
  width: 90px;
  background-color:#f8a426;
  padding: 11px 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 0px;
  border-radius: 3px;
  color: white;
  outline: none;
  text-align: left;
  text-shadow: 0px 1px 1px rgba(29, 26, 22, 0.2);
}
.iceberg{
  position: relative;
  margin: 0 auto;
}
.ship{
  position: absolute;
  top: 174px;
  left: 211px;
}
.ice{
  position: absolute;
  top: 0px;
  right: 235px;
}
.time {
  position: relative;
  top: 251px;
  width: 0;
  margin: 0 auto;
}
.time1, .time2, .time3 {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color:#b9d6ef;
}
.time1 {
  position: absolute;
  left: -146px;
}
.time2 {
  position: absolute;
  left: -33px;
}
.time3 {
  position: absolute;
  left: 76px;
}
.cir_num1,  .cir_num2, .cir_num3{
  font-size: 24px;
  font-family: "HouschkaPro-Medium";
  color: rgb(38, 107, 151);
  line-height: 0.7;
}
.cir_num1 {
  position: absolute;
  top: 28px;
  left: 13px;
}
.cir_num2 {
  position: absolute;
  top: 28px;
  left: 21px;
}
.cir_num3 {
  position: absolute;
  top: 28px;
  left: 20px;
}
.text1, .text2, .text3 {
  font-size: 24px;
  font-family: "HouschkaPro-Bold";
  color: #b9d6ef;
  line-height: 0.7;
}
.text1 {
  position: absolute;
  top: 81px;
  left: 4px;
}
.text2 {
  position: absolute;
  top: 81px;
  left: -8px;
}
.text3 {
  position: absolute;
  top: 81px;
  left: 5px;
}