@keyframes anim1{
  0%{
    transform: rotate(0deg);
    }
  100%{
    transform: rotate(360deg);
      }
}
.main{
  margin: 0 auto;
  background-image: url(../img/22.png);
  background-repeat: no-repeat;
  width: 435px;
  height: 435px;
  position: relative;
}
.strelka{
  height: 160px;
  width: 215.5px;
  position: absolute;
  border-right: 3px solid black;
  margin-top: 56.5px;
  transform-origin: right bottom;
  animation: anim1 60s normal infinite steps(60, end);
}

