main {
  width: 602px;
  height: 602px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid black;
  position: relative;
}

@-webkit-keyframes ball-fall {
  0% {
    top: 0px;
  }
  100% {
    top: 170px;
  }
}

@keyframes ball-fall {
  0% {
    top: 0px;
  }
  100% {
    top: 170px;
  }
}

@-webkit-keyframes ball-jumping {
  0% {
    background-color: black;
    top: 170px;
    left: 45px;
  }
  5% {
    background-color: white;
    top: 50px;
    left: 100px;
  }
  10% {
    background-color: black;
    top: 150px;
    left: 160px;
  }
  15% {
    background-color: white;
    top: 50px;
    left: 210px;
  }
  20% {
    background-color: black;
    top: 130px;
    left: 280px;
  }
  25% {
    background-color: white;
    top: 50px;
    left: 340px;
  }
  30% {
    background-color: black;
    top: 110px;
    left: 400px;
  }
  35% {
    background-color: white;
    top: 50px;
    left: 450px;
  }
  40% {
    background-color: black;
    top: 90px;
    left: 520px;
  }
  45% {
    background-color: white;
    top: 50px;
    left: 520px;
  }
  50% {
    background-color: black;
    top: 470px;
    left: 520px;
  }
  55% {
    background-color: white;
    top: 150px;
    left: 460px;
  }
  60% {
    background-color: black;
    top: 450px;
    left: 410px;
  }
  65% {
    background-color: white;
    top: 150px;
    left: 330px;
  }
  70% {
    background-color: black;
    top: 430px;
    left: 290px;
  }
  75% {
    background-color: white;
    top: 150px;
    left: 240px;
  }
  80% {
    background-color: black;
    top: 410px;
    left: 170px;
  }
  85% {
    background-color: white;
    top: 150px;
    left: 125px;
  }
  90% {
    background-color: black;
    top: 390px;
    left: 45px;
  }
  95% {
    background-color: white;
    top: 50px;
    left: 45px;
  }
}

@keyframes ball-jumping {
  0% {
    background-color: black;
    top: 170px;
    left: 45px;
  }
  5% {
    background-color: white;
    top: 50px;
    left: 100px;
  }
  10% {
    background-color: black;
    top: 150px;
    left: 160px;
  }
  15% {
    background-color: white;
    top: 50px;
    left: 210px;
  }
  20% {
    background-color: black;
    top: 130px;
    left: 280px;
  }
  25% {
    background-color: white;
    top: 50px;
    left: 340px;
  }
  30% {
    background-color: black;
    top: 110px;
    left: 400px;
  }
  35% {
    background-color: white;
    top: 50px;
    left: 450px;
  }
  40% {
    background-color: black;
    top: 90px;
    left: 520px;
  }
  45% {
    background-color: white;
    top: 50px;
    left: 520px;
  }
  50% {
    background-color: black;
    top: 470px;
    left: 520px;
  }
  55% {
    background-color: white;
    top: 150px;
    left: 460px;
  }
  60% {
    background-color: black;
    top: 450px;
    left: 410px;
  }
  65% {
    background-color: white;
    top: 150px;
    left: 330px;
  }
  70% {
    background-color: black;
    top: 430px;
    left: 290px;
  }
  75% {
    background-color: white;
    top: 150px;
    left: 240px;
  }
  80% {
    background-color: black;
    top: 410px;
    left: 170px;
  }
  85% {
    background-color: white;
    top: 150px;
    left: 125px;
  }
  90% {
    background-color: black;
    top: 390px;
    left: 45px;
  }
  95% {
    background-color: white;
    top: 50px;
    left: 45px;
  }
}

.ball {
  background-color: black;
  width: 28px;
  height: 28px;
  border: 1px solid black;
  position: absolute;
  border-radius: 50%;
  top: 0px;
  left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: ball-fall 1.5s ease-in-out 1s normal forwards, ball-jumping 10s linear 2.5s infinite;
          animation: ball-fall 1.5s ease-in-out 1s normal forwards, ball-jumping 10s linear 2.5s infinite;
}

.block1, .block2, .block3, .block4, .block5 {
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes block1-animation {
  0% {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    margin-top: 200px;
  }
  100% {
    width: 100px;
    height: 130px;
    border: 1px solid black;
    margin-top: 420px;
  }
}

@keyframes block1-animation {
  0% {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    margin-top: 200px;
  }
  100% {
    width: 100px;
    height: 130px;
    border: 1px solid black;
    margin-top: 420px;
  }
}

.block1 {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  margin-top: 200px;
  -webkit-animation: block1-animation 1s linear 2.5s infinite alternate;
          animation: block1-animation 1s linear 2.5s infinite alternate;
}

@-webkit-keyframes block2-animation {
  0% {
    width: 100px;
    height: 70px;
    border: 1px solid black;
    margin-top: 180px;
  }
  100% {
    width: 100px;
    height: 110px;
    border: 1px solid black;
    margin-top: 440px;
  }
}

@keyframes block2-animation {
  0% {
    width: 100px;
    height: 70px;
    border: 1px solid black;
    margin-top: 180px;
  }
  100% {
    width: 100px;
    height: 110px;
    border: 1px solid black;
    margin-top: 440px;
  }
}

.block2 {
  width: 100px;
  height: 70px;
  border: 1px solid black;
  margin-top: 180px;
  -webkit-animation: block2-animation 1s linear 3.5s infinite alternate;
          animation: block2-animation 1s linear 3.5s infinite alternate;
}

@-webkit-keyframes block3-animation {
  0% {
    width: 100px;
    height: 90px;
    border: 1px solid black;
    margin-top: 160px;
  }
  100% {
    width: 100px;
    height: 90px;
    border: 1px solid black;
    margin-top: 460px;
  }
}

@keyframes block3-animation {
  0% {
    width: 100px;
    height: 90px;
    border: 1px solid black;
    margin-top: 160px;
  }
  100% {
    width: 100px;
    height: 90px;
    border: 1px solid black;
    margin-top: 460px;
  }
}

.block3 {
  width: 100px;
  height: 90px;
  border: 1px solid black;
  margin-top: 160px;
  -webkit-animation: block3-animation 1s linear 4.5s infinite alternate;
          animation: block3-animation 1s linear 4.5s infinite alternate;
}

@-webkit-keyframes block4-animation {
  0% {
    width: 100px;
    height: 110px;
    border: 1px solid black;
    margin-top: 140px;
  }
  100% {
    width: 100px;
    height: 70px;
    border: 1px solid black;
    margin-top: 480px;
  }
}

@keyframes block4-animation {
  0% {
    width: 100px;
    height: 110px;
    border: 1px solid black;
    margin-top: 140px;
  }
  100% {
    width: 100px;
    height: 70px;
    border: 1px solid black;
    margin-top: 480px;
  }
}

.block4 {
  width: 100px;
  height: 110px;
  border: 1px solid black;
  margin-top: 140px;
  -webkit-animation: block4-animation 1s linear 5.5s infinite alternate;
          animation: block4-animation 1s linear 5.5s infinite alternate;
}

@-webkit-keyframes block5-animation {
  0% {
    width: 100px;
    height: 130px;
    border: 1px solid black;
    margin-top: 120px;
  }
  100% {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    margin-top: 500px;
  }
}

@keyframes block5-animation {
  0% {
    width: 100px;
    height: 130px;
    border: 1px solid black;
    margin-top: 120px;
  }
  100% {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    margin-top: 500px;
  }
}

.block5 {
  width: 100px;
  height: 130px;
  border: 1px solid black;
  margin-top: 120px;
  -webkit-animation: block5-animation 1s linear 6.5s infinite alternate;
          animation: block5-animation 1s linear 6.5s infinite alternate;
}
/*# sourceMappingURL=main.css.map */