.main-block{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80vh;
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
}
.some{
  background-color: greenyellow;
  border: 2px solid black;
  width: 100px;
  height: 50px;
  text-align: center;
}
.item2{
  margin: 50px 100px;
  justify-content: start;
}