@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.main{
  background-color: #b9d6ef;
  position: relative;
  min-height: 100vh;
  height: 100%;
}
.clouds{
  position: relative;
  width: 200px;
  height: 108px;
  margin: 0 auto;
}
.clouds > div{
  position: absolute;
}
.cloud1{
  left: -261px;
}
.cloud2{
  right: -297px;
}
.comingsoon{
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  font-size: 60px;
  height: 50px;
  margin: 0 auto;
  font-weight: bold;
  line-height: 0.222;
  text-align: left;
  color:rgb(240, 240, 240);
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.subteex {
  left: auto;
  text-align: center;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(38, 107, 151);
}
.form{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  
}
.form input {
  padding: 8px 5px;
  color: gainsboro;
  border: 0px;
  border-radius: 2px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.butsub button{
  background-color: #ffcc33;
  margin-left: 20px;
  border: 0px white solid;
  border-radius: 2px;
  width: auto;
  color: white;
  padding: 8px 5px;
}
.ice{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100%;
}
