$size1: 50px;
$size2: 60px;
$size3: 70px;
$size4: 80px;
$size5: 90px;

.ball{
  position: absolute;
  width: 23px;
  height: 23px;
  border: 1px solid black;
  border-radius: 50%;
  left: 38px;
  animation: ball_from1_to_item1 1s 1 0s,
             balljumping 10s 1 1s;
}

@keyframes ball_from1_to_item1{
  0%{
    left: 38px;
    top: 1px;
  }
  100%{
    left: 38px;
    top: 125px;
  }
}

@keyframes balljumping{
  0%{
    left: 38px;
    top: 125px;
  }
  5%{
    left: 78px;
    top: 75px;
  }
  10%{
    left: 133px;
    top: 115px;
  }
  15%{
    left: 173px;
    top: 65px;
  }
  20%{
    left: 230px;
    top: 105px;
  }
  25%{
    left: 275px;
    top: 55px;
  }
  30%{
    left: 335px;
    top: 95px;
  }
  35%{
    left: 375px;
    top: 45px;
  }
  40%{
    left: 430px;
    top: 85px;
  }
  45%{
    left: 430px;
    top: 315px;
  }
  50%{
    left: 375px;
    top: 265px;
  }
  55%{
    left: 335px;
    top: 305px;
  }
  60%{
    left: 275px;
    top: 245px;
  }
  65%{
    left: 245px;
    top: 295px;
  }
  70%{
    left: 195px;
    top: 225px;
  }
  75%{
    left: 145px;
    top: 285px;
  }
  80%{
    left: 100px;
    top: 225px;
  }
  85%{
    left: 40px;
    top: 275px;
  }
  100%{
    left: 38px;
    top: 125px;
  }
}

main{
  position: relative;
  display: flex;
  width : 500px;
  height: 400px;
  background-color: burlywood;
  justify-content: space-around;
}

.column{
  display: flex;
  justify-content: center;
  width: 95px;
  height: 400px;
  background-color: green;
}

.platform{
  width:$size1;
  height: $size1;
  border: 1px solid black;
  margin-top: 150px;
}

@keyframes item1{
  0%{
    width:$size1;
    height: $size1;
    border: 1px solid black;
    margin-top: 150px;
  }
  100%{
    width:$size5;
    height: $size5;
    border: 1px solid black;
    margin-top: 300px;
  }
}

.item1{
  animation: item1 0.5s 1 1s forwards;
}

@keyframes item2{
  0%{
    width:$size2;
    height: $size2;
    border: 1px solid black;
    margin-top: 140px;
  }
  100%{
    width:$size4;
    height: $size4;
    border: 1px solid black;
    margin-top: 310px;
  }
}

.item2{
  width: $size2;
  height: $size2;
  margin-top: 140px;
  animation: item2 0.5s 1 2s forwards;
}

@keyframes item3{
  0%{
    width:$size3;
    height: $size3;
    border: 1px solid black;
    margin-top: 140px;
  }
  100%{
    width:$size3;
    height: $size3;
    border: 1px solid black;
    margin-top: 320px;
  }
}

.item3{
  width: $size3;
  height: $size3;
  margin-top: 130px;
  animation: item3 0.5s 1 3s forwards;
}

@keyframes item4{
  0%{
    width:$size4;
    height: $size4;
    border: 1px solid black;
    margin-top: 140px;
  }
  100%{
    width:$size2;
    height: $size2;
    border: 1px solid black;
    margin-top: 330px;
  }
}

.item4{
  width: $size4;
  height: $size4;
  margin-top: 120px;
  animation: item4 0.5s 1 4s forwards;
}

@keyframes item5{
  0%{
    width:$size5;
    height: $size5;
    border: 1px solid black;
    margin-top: 140px;
  }
  100%{
    width:$size1;
    height: $size1;
    border: 1px solid black;
    margin-top: 340px;
  }
}

.item5{
  width: $size5;
  height: $size5;
  margin-top: 110px;
  animation: item5 0.5s 1 5s forwards;
}

