.ball {
  position: absolute;
  width: 23px;
  height: 23px;
  border: 1px solid black;
  border-radius: 50%;
  left: 38px;
  -webkit-animation: ball_from1_to_item1 1s 1 0s, balljumping 10s infinite ease-in 1s;
          animation: ball_from1_to_item1 1s 1 0s, balljumping 10s infinite ease-in 1s;
}

@-webkit-keyframes ball_from1_to_item1 {
  0% {
    left: 38px;
    top: 1px;
  }
  100% {
    left: 38px;
    top: 125px;
  }
}

@keyframes ball_from1_to_item1 {
  0% {
    left: 38px;
    top: 1px;
  }
  100% {
    left: 38px;
    top: 125px;
  }
}

@-webkit-keyframes balljumping {
  0% {
    left: 38px;
    top: 125px;
  }
  5% {
    left: 78px;
    top: 75px;
  }
  10% {
    left: 133px;
    top: 115px;
  }
  15% {
    left: 173px;
    top: 65px;
  }
  20% {
    left: 230px;
    top: 105px;
  }
  25% {
    left: 275px;
    top: 55px;
  }
  30% {
    left: 335px;
    top: 95px;
  }
  35% {
    left: 375px;
    top: 45px;
  }
  40% {
    left: 430px;
    top: 85px;
  }
  45% {
    left: 430px;
    top: 315px;
  }
  50% {
    left: 375px;
    top: 265px;
  }
  55% {
    left: 335px;
    top: 305px;
  }
  60% {
    left: 275px;
    top: 245px;
  }
  65% {
    left: 245px;
    top: 295px;
  }
  70% {
    left: 195px;
    top: 225px;
  }
  75% {
    left: 145px;
    top: 285px;
  }
  80% {
    left: 100px;
    top: 225px;
  }
  85% {
    left: 40px;
    top: 275px;
  }
  100% {
    left: 38px;
    top: 125px;
  }
}

@keyframes balljumping {
  0% {
    left: 38px;
    top: 125px;
  }
  5% {
    left: 78px;
    top: 75px;
  }
  10% {
    left: 133px;
    top: 115px;
  }
  15% {
    left: 173px;
    top: 65px;
  }
  20% {
    left: 230px;
    top: 105px;
  }
  25% {
    left: 275px;
    top: 55px;
  }
  30% {
    left: 335px;
    top: 95px;
  }
  35% {
    left: 375px;
    top: 45px;
  }
  40% {
    left: 430px;
    top: 85px;
  }
  45% {
    left: 430px;
    top: 315px;
  }
  50% {
    left: 375px;
    top: 265px;
  }
  55% {
    left: 335px;
    top: 305px;
  }
  60% {
    left: 275px;
    top: 245px;
  }
  65% {
    left: 245px;
    top: 295px;
  }
  70% {
    left: 195px;
    top: 225px;
  }
  75% {
    left: 145px;
    top: 285px;
  }
  80% {
    left: 100px;
    top: 225px;
  }
  85% {
    left: 40px;
    top: 275px;
  }
  100% {
    left: 38px;
    top: 125px;
  }
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 400px;
  background-color: burlywood;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95px;
  height: 400px;
  background-color: green;
}

.platform {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-top: 150px;
}

@-webkit-keyframes item1 {
  0% {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-top: 150px;
  }
  100% {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    margin-top: 300px;
  }
}

@keyframes item1 {
  0% {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-top: 150px;
  }
  100% {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    margin-top: 300px;
  }
}

.item1 {
  -webkit-animation: item1 0.5s 1 1s forwards;
          animation: item1 0.5s 1 1s forwards;
}

@-webkit-keyframes item2 {
  0% {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin-top: 140px;
  }
  100% {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    margin-top: 310px;
  }
}

@keyframes item2 {
  0% {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin-top: 140px;
  }
  100% {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    margin-top: 310px;
  }
}

.item2 {
  width: 60px;
  height: 60px;
  margin-top: 140px;
  -webkit-animation: item2 0.5s 1 2s forwards;
          animation: item2 0.5s 1 2s forwards;
}

@-webkit-keyframes item3 {
  0% {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin-top: 140px;
  }
  100% {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin-top: 320px;
  }
}

@keyframes item3 {
  0% {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin-top: 140px;
  }
  100% {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin-top: 320px;
  }
}

.item3 {
  width: 70px;
  height: 70px;
  margin-top: 130px;
  -webkit-animation: item3 0.5s 1 3s forwards;
          animation: item3 0.5s 1 3s forwards;
}

@-webkit-keyframes item4 {
  0% {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    margin-top: 140px;
  }
  100% {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin-top: 330px;
  }
}

@keyframes item4 {
  0% {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    margin-top: 140px;
  }
  100% {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin-top: 330px;
  }
}

.item4 {
  width: 80px;
  height: 80px;
  margin-top: 120px;
  -webkit-animation: item4 0.5s 1 4s forwards;
          animation: item4 0.5s 1 4s forwards;
}

@-webkit-keyframes item5 {
  0% {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    margin-top: 140px;
  }
  100% {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-top: 340px;
  }
}

@keyframes item5 {
  0% {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    margin-top: 140px;
  }
  100% {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-top: 340px;
  }
}

.item5 {
  width: 90px;
  height: 90px;
  margin-top: 110px;
  -webkit-animation: item5 0.5s 1 5s forwards;
          animation: item5 0.5s 1 5s forwards;
}
/*# sourceMappingURL=main.css.map */