main{
  height: 400px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.div-top{
  min-width: 400px;
  height: 200px;
  background-color:red;
  border: 1px solid black;
}

.div-down{
  min-width: 400px;
  height: 200px;
  background-color:green;
  border: 1px solid black;
}