.red, .yellow, .green{
  widows: 50px;
  height: 50px;
}
.main-block{
  margin: 0 auto;
  width: 100px;
  height: 300px;
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
.buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 20px; 
}
.first, .second, .third{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
